body {
    font-family: 'Kanit', sans-serif;
}

:root {
    --background-custom-color: #289bde;
    --price-color: #43a8e2;
    --explore-background: #f4fafd;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.grid-aligning {
    position: absolute;
    top: 7%;
}

.btn-color {
    color: var(--background-custom-color);
}

.bg-color {
    background-color: var(--background-custom-color);
}

.price-color {
    color: var(--price-color);
}

.explore-background {
    background-color: var(--explore-background);
}


@media only screen and (max-width: 576px) {
    .fsc {
        font-size: 20px;
    }
}